/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body {
  margin: 0;
}

.header {
  background-color: #2d394b;
  height: 80px;
}

h1 {
  font-family: "Courier", sans-serif;
  font-size: 40px;
  margin: 0;
  padding-left: 10px;
  padding-top: 18px;
  color: #e0eaff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px 20px;
  border: 1px solid #ccc;
  border-top: none;
  font-family: sans-serif;
}
.tabcontent h3 {
  font-size: 25px;
}

/*Style the buttons */
.buttonMargin button {
  margin-top: 10px;
  font-size: 17px;
}

.profileCartContent {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  border: 2px solid #2d394b;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: white;
  font-family: sans-serif;
}

.profileCartContent p{
  margin-bottom: 5px;
}

.profileCartContent input[type='text']{
  width: 250px;
  font-size: 17px;
}

/*Style the checkboxes */
input[type='checkbox'] {
  vertical-align:middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input:checked {
    background-color: : green;
}

/*Style the checkbox labels */
label {
  cursor: pointer;
  vertical-align:middle;
  font-size: 15px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition-duration: 0.1s;
  background-color: #e0a722;
  color: white;
  font: bold 14px/34px Arial, Helvetica, sans-serif;
}

label:hover {
  background-color: #2d394b;
  transition-duration: 0.1s;
  color: white;
}

input:hover+label {
  background-color: #2d394b;
  transition-duration: 0.1s;
  color: white;
}


/*Style the footer */
footer {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/*Style the paragraphs */
.paraStyle p {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.paraStyle li {
  font-size: 19px;
  margin-bottom: 13px;
}

.circle {
  width: 60px;
  height: 60px;
  line-height: 58px;
  border-radius: 50%;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  background-color: #e0eaff
}
.titles {
  width: 60px;
  line-height: 20px;
  font-size: 17px;
  text-align: center;
  display: inline-block;
}

.circle1 {
  background-color: #2d394b;
  color: white;
}

.line {
  width: 14.7%;
  height: 10px;
  display: inline-block;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #e0eaff
}
.line2 {
  width: 14.7%;
  height: 10px;
  display: inline-block;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.Invisibleline2 {
  width: 3%;
  height: 5px;
  display: inline-block;
  margin-top: 25px;
  margin-right: 5px;
}
.stepTitle {
  display: inline-block;
}

.nav {
  text-align: center;
  padding-top: 20px;
  font-family: sans-serif;
}
.nav2 {
  text-align: center;
  font-family: sans-serif;
}

#displayProduct {
  width: 67%;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
ul#menu li {
  display:inline-block;
  border: 1px solid #d1d1d1;
  width: 200px;
  text-align: center;
  padding: 5px;
  padding-bottom: 15px;
  margin: 1.5%;
  transition-duration: 0.3s;
}

ul#menu li:hover {
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul#menu {
  padding: 0;
}

img {
  width: 150px;
  height: 150px;
}


.button {
  background-color: #2d394b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 25px;
  font-family:  sans-serif;
  width: 200px;
  color: white;
  cursor: pointer;
  transition: all .25s ease;
}

.center {
  text-align: center;
}

.next:hover {
  background-color: #4CAF50;
  border: 0;
  transition: all .25s ease;
  color: white;
}

.back:hover {
  background-color: #e0a722;
  border: 0;
  transition: all .25s ease;
  color: white;
}
