.navStyle {
  border-bottom: 2px solid #59805b;
  background-color: #f7fff8;
  box-shadow: 0 5px 7px -7px #222;
}

.navbar-light .navbar-nav .nav-link {
    color: #59805b;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e3781b;
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}
.backgroundPic {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/animals.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  color: #59805b
}
h3 {
  color: #59805b;
  /*font-size: 20px;*/
}

.error {
  border: 1px solid #ff0000
}
.correct {
  border: 1px solid #00e800
}

.showInput {
  border: 1px solid black
}

.button {
  background-color: #e3781b;
  border: none;
 color: white;
 padding: 7px 20px;
 text-align: center;
 border-radius: 25px;
 text-decoration: none;
 display: inline-block;
 transition: all .25s ease;
}

.button:hover{
  background-color: #59805b;
  transition: all .25s ease;
  color: white;
  cursor: pointer;
}

.serviceButton{
  transition: all .25s ease;
}

.serviceButton:hover{
  background-color: #e7f1ff;
  transition: all .25s ease;
}


.pictext {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
}
.pictext p {
  font-weight: bold;
}

.servicesText button {
  font-size: 20px;
}



p{
    font-size: 20px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*Style the footer */
footer {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#contact p {
  margin: 0;
}

.cardHover:hover {
  transition-duration: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHover {
  transition-duration: 0.5s;
}
